# SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
vendor
# whitelist production files and dirs
!vendor/composer
!vendor/autoload.php

secrets.php

composer.lock
.idea

translationfiles