sudo: false
language: php
cache:
  directories:
        - $HOME/.composer/cache
php:
  - 7.0
  - 7.1
  - 7.2

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-utils

install:
  - composer install

before_script:
  #- php -S localhost:8888 index.php &

script:
  #- sh -c "cd tests/integration/ && ../../vendor/bin/behat ."
  - sh -c "cd tests/unit/ && ../../vendor/bin/phpunit ."
  - xmllint --noout --schema schema.xsd data/*
